<div class="row" *ngIf='products.length == 0'>
  <div *ngFor='let product of products'>
    <div class='well'>
      <ul class='list-group'>
        <li class='list-group-item'><a [routerLink]="['/product', product.id]">{{product.name}}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row" *ngIf='products.length != 0'>
    <div>
      <div class='well'>
        <ul class='list-group'>
          <li class='list-group-item'>{{products[0]}}</li>
        </ul>
      </div>
    </div>
  </div>
  