<form (submit)='onSubmit()' #f='ngForm'>
  <div class='form-group'>
      <label>Name</label>
      <input type='text' class='form-control' [(ngModel)]='product.name' name='name' required #name='ngModel'/>
      <span class="help-block" *ngIf="!name.valid && name.touched">Please Enter Name</span>
  </div>
  <!-- <div class='form-group'>
      <label>Code</label>
      <input type='text' class='form-control' [(ngModel)]='product.code' name='code'/>
  </div> -->
  <div class='form-group'>
      <label>Price</label>
      <input type='number' class='form-control' [(ngModel)]='product.price' name='price' required #price='ngModel'/>
      <span class="help-block" *ngIf="!price.valid && price.touched">Please Enter Price</span>
  </div>
  <input type='submit' class='btn btn-success' [disabled]='!f.valid'>
</form>