<div class='well'>
  <ul class='list-group'>
    <li class='list-group-item'>Name: {{product.name}}</li>
    <li class='list-group-item'>Code: {{product.code}}</li>
    <li class='list-group-item'>Price: {{product.price | currency :'LE'}}</li>
  </ul>
  <button class='btn btn-primary' (click)='onEditClick(product.id)'>Edit</button>
    <button class='btn btn-danger' (click)='onDeleteClick(product.id)'>Delete</button>
</div>
