<div class="container">
  <ul class="nav nav-tabs">
    <li routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"><a routerLink="/">Products</a></li>
    <li routerLinkActive="active"><a routerLink="/create">Create Product</a></li>
  </ul>
  <br>
  <router-outlet></router-outlet>
</div>
